<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flashcards"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.flashcards.user_interface.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.flashcards.user_interface.Card"
            android:label="@string/title_activity_front" >
        </activity>
        <activity
            android:name="com.example.flashcards.user_interface.Back"
            android:label="@string/title_activity_back" >
        </activity>
        <activity
            android:name="com.example.flashcards.user_interface.Search"
            android:label="@string/title_activity_search" >
        </activity>
        <activity
            android:name="com.example.flashcards.user_interface.DeleteWord"
            android:label="@string/title_activity_delete_word" >
        </activity>
        <activity
            android:name="com.example.flashcards.user_interface.AddWord"
            android:label="@string/title_activity_add_word" >
        </activity>
        <activity
            android:name="com.example.flashcards.user_interface.Deck"
            android:label="@string/title_activity_deck" >
        </activity>
        <activity
            android:name="com.example.flashcards.user_interface.NewDeck"
            android:label="@string/title_activity_new_deck" >
        </activity>
        <activity
            android:name="com.example.flashcards.user_interface.LibrariesImport"
            android:label="@string/title_activity_libraries_import" >
        </activity>
    </application>

</manifest>